* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: #9340FF #13151b;
    scrollbar-width: thin;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #13151b;
    color: white;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #9340FF;
    border-radius: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #13151b;
}

header {
    background-color: rgb(24, 26, 26);
    z-index: 2;
}

a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nav>ul {
    display: flex;
}

.nav>ul>li {
    margin: 0px 20px;
    list-style: none;
}

.nav-item>a {
    text-decoration: none;
    color: white;
}

.nav-item>a:hover {
    color: #9340FF;
    text-decoration: underline;
}

#cv>button {
    height: 40px;
    width: 100px;
    border: 1px solid #9340FF;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.curriculo {
    display: block;
    transition: all 0.3s;
}

.curriculo:hover {
    background-color: #9340FF;
}

/* MENU MOBILE */

.menu-mobile {
    background-color: #9340ff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    z-index: 10;
    transition: all .3s ease-in-out;
    overflow: hidden;
    display: none;
}

.menu-mobile span {
    cursor: pointer;
}

.menu-mobile>nav>ul>li {
    list-style: none;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

.menu-mobile>nav>ul>li>a {
    display: block;
    color: white;
    display: flex;
    align-items: center;
    gap: 5%;
}

/* FIM MENU MOBILE */

.flex-container {
    display: flex;
    margin: 20px 0px;
    gap: 5%;
    padding: 1rem 6rem;
}

.container-perfil {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    top: 150px;
    height: 100%;
}

.foto {
    width: 100%;
}

.foto>img {
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.dados {
    margin-top: 10px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dados>p {
    font-size: 1.5em
}

.dados>h2 {
    font-size: 2em;
}

.dados>p>span {
    color: #9340FF;
}

.social-botoes {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-botoes>a {
    width: 45%;
    padding: 1rem;
    border: 1px solid #9340FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: all 0.4s;
}

.social-botoes>a:hover {
    background-color: #9340FF;
}

#btn-linkedin:hover {
    background-color: #0e76a8;
    border-color: #0e76a8;
}

.container-portifolio {
    flex: 2;
}

.container-portifolio>h1 {
    text-align: center;
    color: #9340FF;
    font-size: 2.5em;
    margin: 20px 0px 30px 0px;
}

.container-portifolio>p {
    font-size: 1.2rem;
    text-indent: 40px;
    margin: 30px auto;
    width: 70%;
}

.container-projeto {
    display: flex;
    flex-direction: column;
}

.container-projeto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 20px;
}

.card__projeto {
    background: #181a21;
    border: 1px solid rgb(222, 222, 222);
}

.card__projeto:hover {
    border: 1px solid rgb(255, 251, 251);
}

.card__projeto img {
    width: 100%;
}

.card__projeto h3 {
    margin: 20px 0 30px;
    padding: 0 1rem;
    font-weight: 100;
    font-size: 1.8rem;
}

.card__projeto .card__container__tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 1rem;
    margin-bottom: 30px;
}

.card__projeto .card__container__tecnologias span {
    padding: 0.5rem 1rem;
    background: #20242d;
    color: rgb(209, 209, 209);
    border-radius: 4px;
}

.card__projeto .card__link__projeto {
    padding: 0 1rem;
    margin: 0 0 15px;
    font-size: 1rem;
    display: flex;
}


.card__projeto .card__link__projeto a {
    text-decoration: none;
    color: rgb(196, 196, 196);
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
    flex: 1;
    transition: .1s ease;
}

.card__projeto .card__link__projeto a:hover {
    color: white;
    font-size: 1.1rem;
}





/* CONTAINER HABILIDADES*/
.container-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    align-items: center;
    justify-content: center;
}

.card-habilidade {
    width: 200px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.304);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.card-habilidade>img {
    height: 150px;
    padding: 0.6rem;
}

footer {
    background-color: rgb(24, 26, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer>h1 {
    margin: 20px 0px;
    font-size: 1.5em;
}

.nav-mobile {
    display: none;
}

#btn-topo {
    width: 60px;
    height: 60px;
    position: fixed;
    right: -100px;
    bottom: 10px;
    background-color: #9340ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s;
}


footer h4 {
    color: #0766fe;
    text-align: center;
    margin: 20px 0px;
    font-size: 1.4rem;
}

footer h5 {
    margin: 15px 0px;
    font-size: 1.1rem;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(122, 122, 122);
}

footer p {
    font-size: 1.1rem;
    margin: 10px 0;
}

footer span {
    color: white;
}

@media screen and (max-width:1000px) {
    .menu-mobile {
        display: block;
    }

    .nav-bar {
        padding: 1.5rem;
    }

    .nav-mobile>img {
        width: 100%;
        height: 30px;
        cursor: pointer;
    }

    .nav-mobile {
        display: block;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
    }

    .container-perfil {
        top: 0;
        width: 100%;
        position: static;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-portifolio {
        width: 100%;
        height: auto;
    }

    .nav {
        display: none;
    }

    .container-portifolio>p {
        width: 90%;
        text-indent: 0;
    }

    .card {
        width: 90%;
    }

    .card>p {
        text-indent: 0;
        padding: 1rem;
    }

    .card-habilidade {
        width: 120px;
        height: 150px;
    }

    .card-habilidade>img {
        width: 100%;
    }

    .card-habilidade>h3 {
        font-size: 1rem;
    }

    footer h1 {
        text-align: center;
    }

    .overlay {
        width: 0;
        height: 100%;
        background-color: #9340FF;
        z-index: 9;
        position: fixed;
        left: 0;
        top: 0;
        overflow-x: hidden;
        transition: all 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;

    }

    .overlay-content a {
        padding: 8px;
        text-decoration: none;
        color: white;
        display: block;
        font-size: 25px;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: rgb(166, 166, 166);
    }

    .overlay .closebtn {
        position: absolute;
        top: 4%;
        right: 45px;
        font-size: 60px;
        color: white;
    }

    .foto>img {
        width: 70%;
    }

    .curriculo {
        display: none;
    }

    #btn-topo {
        width: 50px;
        height: 50px;
    }

    .container-projeto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

}